.registrationForm {
  width: 500px;
  max-height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 20px 30px ;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  overflow: auto;
}

.error {
  display: block;
  background-color: pink;
  color: red;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.field {
  margin-bottom: 10px;
}

.errorField {
  border-color: red !important;
}
