.content {
  width: 90%;
  margin: 30px auto;
}

.col {
  width: 57px;
  padding: 0px !important;
}

.col div {
  margin: 5px 5px;
}

.col button {
  padding: 0px;
  border: none;
  margin-left: 3px;
}

a>button.ui.button {
  margin-left: 10px;
}

i.plus {
  margin-left: 5px !important;
}

.ui.grid>.column:not(.row) {
  padding: 8px !important;
}
